.ownimage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.rolcolor {
  color: #ffd700;
}

.animated-h1 {
  animation: ride-in 1.2s ease-in-out forwards;
}

@keyframes ride-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
