.ownimage {
  width: 300px;
  height: fit-content;
  clip-path: circle();
}

.work-tag {
  color: white;
  background: rgba(112, 201, 112, 0.5); /* Adjust opacity value as needed */  margin-right: 220px;
  margin-left: 220px;
}

.rolcolor {
  color: #ffd700;
}

.animated-h1 {
  animation: ride-in 1.2s ease-in-out forwards;
}

@keyframes ride-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
