.logos {
  height: 70px;
  margin: 0 40px;
}

.logos-section{
    display: grid;
    place-items: center;
}

.logos-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  overflow: hidden;
  padding: 50px 0;
}

.logos-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  animation: 35s slide infinite linear;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
