.logos{
    height: 70px;
    margin: 0 40px;
}

.logos-slide { 
    
        animation: 5s slide infinite linear;
}

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}